.body-book {
  background-position: center;
  background-attachment: fixed;

  &.vol2 {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/poligono/ART-background-poligono.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $vol2_bg;
  }

  &.vol3 {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/poligono/CIE-background-poligono.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $vol3_bg;
  }

  &.vol4 {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/poligono/GEO-background-poligono.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $vol4_bg;
  }

  &.vol5 {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/poligono/HIS-background-poligono.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $vol5_bg;
  }

}