.body-book {
  background-position: center;
  background-attachment: fixed;

  &.artes {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/poligono/ART-background-poligono.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $art_bg;
  }

  &.ciencias {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/poligono/CIE-background-poligono.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $cie_bg;
  }

  &.geografia {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/poligono/GEO-background-poligono.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $geo_bg;
  }

  &.historia {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/poligono/HIS-background-poligono.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $his_bg;
  }

  &.lingua_inglesa {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/poligono/ING-background-poligono.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $ing_bg;
  }

  &.lingua_portuguesa {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/poligono/LPO-background-poligono.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $por_bg;
  }

  &.matematica {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/poligono/MAT-background-poligono.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $mat_bg;
  }


}