.css_02_texto_desenhe {
  padding: 11px 42px;
  margin-top: 16px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, $vol2_cor2, $vol2_cor3);


  &.vol2 {
    border-image-source: linear-gradient(to left, $vol2_cor2, $vol2_cor3);
  }

  &.vol3 {
    border-image-source: linear-gradient(to left, $vol3_cor2, $vol3_cor3);

  }

  &.vol4 {
    border-image-source: linear-gradient(to left, $vol4_cor2, $vol4_cor3);
  }

  &.vol5 {
    border-image-source: linear-gradient(to left, $vol5_cor2, $vol5_cor3);
  }
}