.css_07_secao_03 {
  display: flex;
  align-items: center;
  margin-top: 36px;
  width: 100%;

  .css_07_secao_03_text {
    margin: 0;
    padding: 8;
    font-family: $fontName;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    background-color: $vol2_cor1;
    width: fit-content;
  }

  .css_07_secao_03_bg {
    width: 100%;
    background-color: $vol2_cor2;
    position: relative;
    min-height: 42px;

    &::before {
      content: '';
      height: 100%;
      position: absolute;
      left: 0;
      background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/VOL2-degrade.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &.vol2 {
    .css_07_secao_03_text {
      background-color: $vol2_cor1;

    }

    .css_07_secao_03_bg {
      background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/VOL2-degrade.svg);
    }
  }

  &.vol3 {
    .css_07_secao_03_text {
      background-color: $vol3_cor1;

    }

    .css_07_secao_03_bg {
      background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/VOL3-degrade.svg);
    }
  }

  &.vol4 {
    .css_07_secao_03_text {
      background-color: $vol4_cor1;

    }

    .css_07_secao_03_bg {
      background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/VOL4-degrade.svg);
    }
  }

  &.vol5 {
    .css_07_secao_03_text {
      background-color: $vol5_cor1;

    }

    .css_07_secao_03_bg {
      background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/VOL5-degrade.svg);
    }
  }


}