.css_03_2exercicio_alternativa_item {
  margin-top: 16px;
  font-family: $fontName;
  font-weight: 300;
  color: $textColor;
  line-height: 1.5em;
  font-size: $fontName;
  align-items: baseline;
  list-style: none;
  position: relative;

  &::before {
    font-family: $fontName;
    font-size: $fontName;
    font-weight: 600;
    counter-increment: list;
    content: counter(list, lower-alpha) ")";
    position: absolute;
    left: -30px;
  }



}

.vol2 {
  .css_03_2exercicio_alternativa_item::before {
    color: $vol2_cor3;
  }
}

.vol3 {
  .css_03_2exercicio_alternativa_item::before {
    color: $vol3_cor3;
  }
}

.vol4 {
  .css_03_2exercicio_alternativa_item::before {
    color: $vol4_cor3;
  }
}

.vol5 {
  .css_03_2exercicio_alternativa_item::before {
    color: $vol5_cor3;
  }
}