.css_01_titulo1 {
  font-family: $fontName;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  margin: 0;
  margin-top: 28px;
  color: #ED1A3B;




  /* Variações de cores */
  &.artes {
    color: $art_cor2;
  }


  &.ciencias {
    color: $cie_cor2;
  }


  &.geografia {
    color: $geo_cor2;
  }


  &.historia {
    color: $his_cor2;
  }


  &.lingua_inglesa {
    color: $ing_cor2;
  }


  &.lingua_portuguesa {
    color: $por_cor2;
  }


  &.matematica {
    color: $mat_cor2;
  }
}