.css_02_texto_destaque1 {
  font-family: $fontName;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  background-color: $apoio_bg;
  padding: 11px 42px;
  border-radius: 16px;
  margin-top: 26px;
}