.css_01_titulo2 {

  font-family: $fontName;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-top: 24px;
  text-transform: uppercase;
  color: $vol2_cor3;


  /* Variações de cores */
  &.vol2 {
    color: $vol2_cor3;
  }

  &.vol3 {
    color: $vol3_cor3;
  }

  &.vol4 {
    color: $vol4_cor3;
  }

  &.vol5 {
    color: $vol5_cor3;
  }

}