.css_02_texto_destaque3 {
  font-family: $fontName;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: black;
  padding: 11px 42px;
  margin-top: 16px;
  border-radius: 10px;

  &.artes {
    color: $art_cor2;
    border: 2px solid $art_cor2;
  }

  &.ciencias {
    color: $cie_cor2;
    border: 2px solid $cie_cor2;
  }

  &.geografia {
    color: $geo_cor2;
    border: 2px solid $geo_cor2;
  }

  &.historia {
    color: $his_cor2;
    border: 2px solid $his_cor2;
  }

  &.lingua_inglesa {
    color: $ing_cor2;
    border: 2px solid $ing_cor2;
  }

  &.lingua_portuguesa {
    color: $por_cor2;
    border: 2px solid $por_cor2;
  }

  &.matematica {
    color: $mat_cor2;
    border: 2px solid $mat_cor2;
  }
}