.css_01_titulo3 {

  font-family: $fontName;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-top: 24px;
  color: $vol2_cor3;
  text-align: left;
  text-transform: uppercase;


  /* Características do componente */

  /* Variações de cores */
  &.vol2 {
    color: $vol2_cor1;
  }

  &.vol3 {
    color: $vol3_cor1;
  }

  &.vol4 {
    color: $vol4_cor1;
  }

  &.vol5 {
    color: $vol5_cor1;
  }

}