.css_03_2exercicio_container_edit {
  margin-top: 31px;
  position: relative;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 8px;

  font-family: $fontName;
  font-weight: 400;
  color: $textColor;
  line-height: 1.5em;
  font-size: $fontName;
  align-items: baseline;

  .content_number {
    width: 34px;

    .background_number {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: $vol2_cor3;

      .number_exercicio {
        margin: 0;
        font-family: $fontName;
        font-weight: 800;
        font-variant: tabular-nums;
        font-size: $fontName;
        color: #fff;
      }
    }
  }

  .group_exercicio {
    margin: 0;

    &::first-child {
      margin: 0;
    }
  }

  &.vol2 {
    .background_number {
      background-color: $vol2_cor3;
    }
  }

  &.vol3 {
    .background_number {
      background-color: $vol3_cor3;
    }
  }

  &.vol4 {
    .background_number {
      background-color: $vol4_cor3;
    }
  }

  &.vol5 {
    .background_number {
      background-color: $vol5_cor3;
    }
  }
}