.css_02_texto_citado_titulo1 {
  font-family: $fonteSerifa;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  /* terceiros */
  color: #555555;
}