.css_07_secao_titulo1 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 48px;

  .css_07_secao_titulo1_text {
    margin: 0;
    text-align: left;
    font-size: 34px;
    color: #666666;
    font-weight: 800;
    font-family: $fontName;

  }

  .css_07_secao_titulo1_icon {
    background-color: #f5f5f5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
  }

  &.artes {
    .css_07_secao_titulo1_text {
      color: $art_cor1;
    }

    &.secao_01 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-ART-hora-de-criar.svg);
      }
    }

    &.secao_02 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-ART-vamos-conhecer-a-arte.svg);
      }
    }

    &.secao_03 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-ART-viva-a-arte.svg);
      }
    }
  }

  &.historia {
    .css_07_secao_titulo1_text {
      color: $his_cor1;
    }

    &.secao_01 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-HIS-laboratorio-da-memoria.svg);
      }
    }
  }

  &.geografia {
    .css_07_secao_titulo1_text {
      color: $geo_cor1;
    }

    &.secao_01 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-GEO-representacoes-do-espaco.svg);
      }
    }
  }

  &.lingua_inglesa {
    .css_07_secao_titulo1_text {
      color: $ing_cor1;
    }

    &.secao_01 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-ING-glossary.svg);
      }
    }

    &.secao_02 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-ING-listening-time.svg);
      }
    }

    &.secao_03 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-ING-reading-time.svg);
      }
    }

    &.secao_04 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-ING-speaking-time.svg);
      }
    }

    &.secao_05 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-ING-writing-time.svg);
      }
    }
  }

  &.lingua_portuguesa {
    .css_07_secao_titulo1_text {
      color: $por_cor1;
    }

    &.secao_01 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-LPO-descobrindo-letras-e-palavras.svg);
      }
    }

    &.secao_02 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-LPO-hora-da-leitura.svg);
      }
    }

    &.secao_03 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-LPO-hora-da-producao.svg);
      }
    }

    &.secao_04 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-LPO-vamos-estudar-a-lingua.svg);
      }
    }
  }

  &.ciencias {
    .css_07_secao_titulo1_text {
      color: $cie_cor1;
    }

    &.secao_01 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-CIE-ciencia-em-acao.svg);
      }
    }

    &.secao_02 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-CIE-oficina-de-ideias.svg);
      }
    }
  }

  &.matematica {
    .css_07_secao_titulo1_text {
      color: $mat_cor1;
    }

    &.secao_01 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-MAT-de-olho-no-problema.svg);
      }
    }

    &.secao_02 {
      .css_07_secao_titulo1_icon {
        background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/secao1-MAT-jogos-e-brincadeiras.svg);
      }
    }
  }


}