.css_03_2exercicio_alternativa {
  margin-top: 16px;
  font-family: $fontName;
  font-weight: 400;
  line-height: 1.5em;
  font-size: $fontName;
  counter-reset: list;
  padding-inline-start: 31px;

  .group_alternativa :first-child {
    margin-top: 0 !important;
  }

  &.item_romano_itens .css_03_2exercicio_alternativa_item {
    &::before {
      font-family: $fontName;
      font-size: $fontName;
      font-weight: 600;
      color: #00ADA1;
      counter-increment: list;
      content: counter(list, lower-alpha) ")";
      position: absolute;
      left: -30px;
    }
  }

  &.itens .css_03_2exercicio_alternativa_item {
    &::before {
      counter-increment: list;
      content: counter(list, decimal) ".";
      color: #00ADA1;
    }
  }

  &.item_romano_itens .css_03_2exercicio_alternativa_item {
    &::before {
      counter-increment: list;
      content: counter(list, upper-roman) ".";
      color: #00ADA1;
    }
  }

  &.alternativa_assinalar_itens .css_03_2exercicio_alternativa_item {
    &::after {
      font-family: $fontName;
      font-size: 20px;
      font-weight: 600;
      content: "(";
      position: absolute;
      left: -32px;
      color: #00ADA1;
      top: 0;
    }

    &::before {
      font-family: $fontName;
      font-size: 20px;
      font-weight: 600;
      content: ")";
      position: absolute;
      left: -16px;
      color: #00ADA1;
    }
  }

  &.vol2 {
    &.css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol2_cor3;
      }
    }

    &.item_romano_itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol2_cor3;
      }
    }

    &.itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol2_cor3;
      }
    }

    &.item_romano_itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol2_cor3;
      }
    }

    &.alternativa_assinalar_itens .css_03_2exercicio_alternativa_item {
      &::after {
        color: $vol2_cor3;
      }

      &::before {
        color: $vol2_cor3;
      }
    }
  }

  &.vol3 {
    &.css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol3_cor3;
      }
    }

    &.item_romano_itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol3_cor3;
      }
    }

    &.itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol3_cor3;
      }
    }

    &.item_romano_itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol3_cor3;
      }
    }

    &.alternativa_assinalar_itens .css_03_2exercicio_alternativa_item {
      &::after {
        color: $vol3_cor3;
      }

      &::before {
        color: $vol3_cor3;
      }
    }
  }

  &.vol4 {
    &.css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol4_cor3;
      }
    }

    &.item_romano_itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol4_cor3;
      }
    }

    &.itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol4_cor3;
      }
    }

    &.item_romano_itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol4_cor3;
      }
    }

    &.alternativa_assinalar_itens .css_03_2exercicio_alternativa_item {
      &::after {
        color: $vol4_cor3;
      }

      &::before {
        color: $vol4_cor3;
      }
    }
  }

  &.vol5 {
    &.css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol5_cor3;
      }
    }

    &.item_romano_itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol5_cor3;
      }
    }

    &.itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol5_cor3;
      }
    }

    &.item_romano_itens .css_03_2exercicio_alternativa_item {
      &::before {
        color: $vol5_cor3;
      }
    }

    &.alternativa_assinalar_itens .css_03_2exercicio_alternativa_item {
      &::after {
        color: $vol5_cor3;
      }

      &::before {
        color: $vol5_cor3;
      }
    }
  }


}