.css_03_2exercicio_container_edit {
  margin-top: 31px;

  position: relative;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 8px;

  font-family: $fontName;
  font-weight: 400;
  color: $textColor;
  line-height: 1.5em;
  font-size: $fontName;
  align-items: baseline;

  .content_number {
    width: 34px;

    .background_number {
      width: 36px;
      height: 24px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #FDB913;



      .number_exercicio {
        margin: 0;
        font-family: $fontName;
        font-weight: 800;
        font-variant: tabular-nums;
        font-size: $fontName;
      }
    }
  }

  .group_exercicio {
    margin: 0;

    &::first-child {
      margin: 0;
    }
  }

  &.artes {
    .number_exercicio {
      color: $art_cor1;
    }
  }

  &.lingua_inglesa {
    .number_exercicio {
      color: $ing_cor1;
    }
  }

  &.lingua_portuguesa {
    .number_exercicio {
      color: $por_cor1;
    }
  }

  &.matematica {
    .number_exercicio {
      color: $mat_cor1;
    }
  }

  &.ciencias {
    .number_exercicio {
      color: $cie_cor1;
    }
  }

  &.geografia {
    .number_exercicio {
      color: $geo_cor1;
    }
  }

  &.historia {
    .number_exercicio {
      color: $his_cor1;
    }
  }

}