.css_02_texto_citado {
  font-family: $fonteSerifa;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */
  text-transform: uppercase;
  /* terceiros */
  color: #555555;

}