/* Hero component style.
   A hero image is a large banner image, prominently placed on a web page, generally in the front and center.
   http://en.wikipedia.org/wiki/Hero_image */
.hero_poligono {
    margin: 0px auto;
    clear: both;
    position: relative;

    >figure {
        margin: auto 50%;

        >div {
            margin-left: -50vw;
            width: 100vw;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            overflow: hidden;

            >div {
                display: flex;
                align-items: center;
                height: 100vh;
                max-width: $max-width;

                &::after {
                    content: ' ';
                    display: block;
                    clear: both;
                }

            }
        }
    }


    .hero_headline {
        width: 100%;
        background: linear-gradient(90deg, rgb(253, 185, 19) 27%, rgb(237, 26, 59) 5%);
        position: absolute;
        top: 0;



        .inner_hero {
            max-width: 860px;
            display: grid;
            grid-template-columns: 150px 1fr;
            align-items: center;
            gap: 50px;
            margin: auto;

            .hero_capitulo_section {
                background: $vol2_cor3;
                border-radius: 50%;
                position: relative;
                width: 150px;
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px;
                margin: 0;

                &::before {
                    content: 'unidade';
                    font-family: $fontName;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    position: absolute;
                    top: 10%;
                    text-align: center;
                }

                .hero_capitulo_section_num {
                    font-family: $fontName;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 100px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }

            .hero_poligono_titulo {
                font-family: $fontName;
                font-style: normal;
                font-weight: 800;
                font-size: 52px;
                color: #FFFFFF;
                margin: 0;
                text-align: left;
                text-transform: uppercase;

            }


        }
    }

    &.vol2 {
        .hero_headline {
            background: linear-gradient(90deg, $vol2_cor1 27%, $vol2_cor2 5%);

            &::before {
                content: '';
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/VOL2-degrade.svg);
            }
        }

        .inner_hero {
            .hero_capitulo_section {
                background: $vol2_cor3;
            }
        }
    }

    &.vol3 {
        .hero_headline {
            background: linear-gradient(90deg, $vol3_cor1 27%, $vol3_cor2 5%);

            &::before {
                content: '';
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/VOL3-degrade.svg);
            }
        }

        .inner_hero {
            .hero_capitulo_section {
                background: $vol3_cor3;
            }
        }
    }

    &.vol4 {
        .hero_headline {
            background: linear-gradient(90deg, $vol4_cor1 27%, $vol4_cor2 5%);

            &::before {
                content: '';
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/VOL4-degrade.svg);
            }
        }

        .inner_hero {
            .hero_capitulo_section {
                background: $vol4_cor3;
            }
        }
    }

    &.vol5 {
        .hero_headline {
            background: linear-gradient(90deg, $vol5_cor1 27%, $vol5_cor2 5%);

            &::before {
                content: '';
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                background-image: url(https://livro-digital.p4ed.com/assets/icons/poligono/VOL5-degrade.svg);
            }
        }

        .inner_hero {
            .hero_capitulo_section {
                background: $vol5_cor3;
            }
        }
    }

    &._fixed-background {
        >figure {
            >div {
                background-attachment: scroll;
            }
        }
    }

    &._js-fixed-scroll {
        >figure {
            >div {
                background-attachment: scroll;
            }
        }
    }
}