<div class='container_glossario'>
    <input class='toggle' type='checkbox' id>
    <label class='lbl-toggle-glossario' for>
        <p class='collapsible-title'>glossário</p>

        <div class='flex-icon'>
            <div class="plus"></div>
            <div class="less"></div>
        </div>

    </label>
    <div class='collapsible-content-glossario'>
        <div class='content-inner'>
            <div class="txt_boxe_collapsed" doc-container="main"></div>
        </div>
    </div>
</div>