<div class="hero_poligono" data-hero-mobile>
    <div class="image_poligono" img-width>
        <img class="_image" doc-image="image" src="bound-image-url" />
    </div>
    <div class="hero_headline">
        <div class="inner_hero">
            <div class="hero_capitulo_section">
                <p class="hero_capitulo_section_num" doc-editable="subtitle" data-doc-empty-bg-image-color="black">
                    Nº
                </p>
            </div>
            <h1 class="hero_poligono_titulo" doc-editable="text" data-doc-empty-bg-image-color="black">{{
                COMPONENT_TITLE_LABEL }}</h1>

        </div>
    </div>
</div>