<div class="image_poligono" img-width>
    <img class="_image" doc-image="image" src="bound-image-url" />
    <figcaption class="css_05_legenda" doc-editable="caption">
        Image caption, sem vel consectetur dignissim, quam felis molestie lorem, eget posuere felis turpis vitae odio.
    </figcaption>
    <figcaption class="css_05_credito1" doc-editable="credit">
        Image credit, sem vel consectetur dignissim, quam felis molestie lorem, eget posuere felis turpis vitae odio.
    </figcaption>
</div>